__pycache__/
*.py[codz]
*$py.class

.DS_Store
.Python
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
__pypackages__/
.env
.venv
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


/site

.mypy_cache/
.dmypy.json
dmypy.json

.pytype/
 .vscode/
.pypirc

